# === Django ===
DJANGO_SECRET_KEY=sua-chave-secreta-super-segura-aqui-mude-em-producao
DEBUG=True

# === MongoDB ===
MONGO_INITDB_DATABASE=coleta_db
MONGO_USER=coleta_user
MONGO_PASSWORD=senha123
MONGO_HOST=localhost
MONGO_PORT=27017

# === RabbitMQ ===
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
